@import 'remark-defaults.css';
@import 'fonts.css';

/* .title-slide overrides .inverse from remark-defaults */
.title-slide {
  background-image: url('../assets/images/title-slide-background.svg');
  background-size: contain;
  background-color: #F6F7F8;
  background-position: 50% 55%;
  text-shadow: none;
}

.header {
  margin-top: 2em;
}

.header .title {
  font-size: 2em;
  font-weight: 300;
}

.header .subtitle {
  font-size: 1.2em;
  font-weight: 400;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 40%;
}

.footer .authors {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: flex-start;
}

.authors .author {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 1.5em;
}

.authors .institutions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.institutions .name {
  font-size: 1em;
  font-weight: 300;
  color: #4A4A59;
}

.author .name {
  font-size: 1.1em;
  font-weight: 300;
  margin: 0;
}

.author a {
  font-size: 1.1em;
  font-weight: 400;
  color: #4C82A9;
  text-decoration: none;
}

.footer .institution {
  font-size: 0.85em;
  font-weight: 400;
}

/* hide title slide number */
.title-slide .remark-slide-number {
  display: none;
}
